// colors

.text-grey {
    color: #868689 !important;
}

.text-yellow {
    color: #FFCC00 !important;
}

// letter spacing

.ls-base {
    letter-spacing: -1px;
}

.ls-1 {
    letter-spacing: -3px;
}

// font weight

.fw-900 {
    font-weight: 900;
}
