@import "~bootstrap/scss/bootstrap";
@import "text";
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700;900&display=swap');


body {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    overflow-x: hidden;
    // font-family: 'Inter', Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-family: 'Archivo', Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}