@import "~bootstrap/scss/bootstrap";
@import "text";


body {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Archivo', Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

// [v-cloak] {
//     display: none;
//     animation: page-fade 1s ease-in-out both;
// }

.page-fade {
    animation: page-fade 0.8s ease-in-out both;
}

@-webkit-keyframes page-fade {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes page-fade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}